@CHARSET "ISO-8859-1";
*{
	margin:0;
	padding:0;
} 

.header{
	height:200px;
	margin:0;
	padding:0;
	background-color:lightorange;
	/* background-image: url('1.jpg'); */
	color: black;
}

.footer{
	height:100px;
	margin:0;
	padding:0;
	background-color:lightblue;
	/* background-image: url('images/footer.jpg'); */
	color:#ffffff;
}

h1{
	width:300px;
}
.lnk{
	
}